<footer class="footer footer_uno">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
        <div class="footer_uno">
            <div class="partFooter">
                <img src="img/SAN_PEDRO.jpg" alt="">
                <span>Municipalidad Distrital de San Pedro De Palco</span>
                <span>Gestion 2019-2022</span>
            </div>
            <div class="partFooter">
                <span>Horario de atención</span>
                <h4>De lunes a viernes de:</h4>
                <h4><i class="far fa-dot-circle"></i> 8:00 am a 1:00 pm</h4>
                <h4><i class="far fa-dot-circle"></i> 1:00 pm a 4:00 pm</h4>
            </div>
            <div class="partFooter">
                <span>Ubicanos</span>
                <h4><i class="far fa-dot-circle"></i> Parque Principal S/N - San Pedro De Palco</h4>
                <h4><i class="far fa-dot-circle"></i> Oficina descentralizada:Ayacucho - Huamanga </h4>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jr. jhfdhfjsdd #221</h4>
            </div>
            <div class="partFooter">
                <span>Redes sociales</span>
                <div class="social-media">
                    <a href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="derech">
            <h3>© 2021 Municipalidad Distrital de San Pedro De.Todos los derechos reservados.</h3>
        </div>

    </div>
</footer>