<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INICIO-MUNI SAN PEDRO DE PALCO</title>

    <%- include('componentes/styles.ejs'); %>

</head>

<body>
    <%- include('componentes/header.ejs'); %>

    <main>


        <section class="about-us">
            <div class="contenedor1_2">
                <a href="index.html">
                    <h4> <i class="fas fa-long-arrow-alt-left"></i> Volver</h4>
                </a>
                <img src="./img/evento1.jpg" alt="" class="evento">
            </div>
        </section>
        <section class="about-us1">
            <div class="contenedor1_2">
                <table>
                    <thead>
                        <tr>
                            <th>DESCRIPCION</th>
                            <th>ARCHIVO</th>
                        </tr>

                    </thead>
                    <tr>
                        <td>RENDICION DE CUENTAS 2019-2020 </td>
                        <td><a href="./document/REVISTA.pdf" target="_blank">Ver...</a></td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="social-bar">
            <a href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco" class="icon icon-facebook"
                target="_blank"></a>
            <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
            <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
            <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
        </div>

        <%- include('componentes/footer.ejs'); %>

            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
            <script src="js/main.js"></script>
            <script src="js/main1.js"></script>
</body>

</html>