<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INICIO-MUNI SAN PEDRO DE PALCO</title>
    <link rel="icon" type="image/jpg" href="./img/SAN_PEDRO.jpg" sizes="16x16">

    <%- include('componentes/styles.ejs'); %>


</head>

<body>

    <%- include('componentes/header.ejs'); %>
        <main>

            <div class="social-bar">
                <a href="https://www.facebook.com/MunicipalidadDistritalDeSanPedroDePalco" class="icon icon-facebook"
                    target="_blank"></a>
                <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
                <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
                <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
            </div>
            <section class="container">
                <div class="contenedor1">
                    <h1>Obras ejecutas, en ejecucion y proximas obras</h1>
                    <div class="contenedor1-articulo">
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Cultura y Turismo</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Recursos Naturales</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Agricultura</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Ganaderia</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="#">
                                    <h3>Desarrollo Humano</h3>
                                </a>
                            </div>
                        </div>
                        <div class="articulo1" data-aos="zoom-in-right">
                            <img src="img/noticias.jpg" alt="" class="item-img">
                            <div class="item-text">
                                <a href="">
                                    <h3>Deportes</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('componentes/footer.ejs'); %>

            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
            <script src="js/main.js"></script>
            <script src="js/main1.js"></script>
</body>

</html>